---
title: 'Веб-разработчик'
long_title: 'Веб-разработчик (full-stack)'
description: "Резюме веб-разработчика. WordPress, WooCommerce, поддержка CMS, производительность, доступность, Node.js-автоматизация, понимание хостинговой инфраструктуры и локализация. Открыт к предложениям, Алматы."
layout: 'layouts/base.html'
permalink: /ru/webdev/
tags: public
lastmod: "2026-05-02"
---
{% set lang = lang or page.fileSlug or site.languagesorder[0] %}
{% import '_globals.html' as glob %}
{% set translate = glob.translations[lang] %}
<main class="main-top">
	{% for chapter in topblocks %}
		<div class="chapter">
			{% renderFile contentFile("./webdev/" ~ chapter ~ "/" ~ lang), {lang: lang, translate: translate, pagekey: pagekey} %}
		</div>
	{% endfor %}
</main>

<main class="main-bottom">
	{% for chapter in bottomblocks %}
		<div class="chapter">
			{% renderFile contentFile("./webdev/" ~ chapter ~ "/" ~ lang), {lang: lang, translate: translate, pagekey: pagekey} %}
		</div>
	{% endfor %}
</main>
